workflows/n8n-workflow-crm-ai-chatbot.json
{
  "name": "CRM-FIX copy",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "dc546190-7687-44dd-b949-8949349c7187",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1648,
        288
      ],
      "id": "a24b65a5-8efd-470e-bac8-2297bb3bd291",
      "name": "Webhook",
      "webhookId": "dc546190-7687-44dd-b949-8949349c7187"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://bot-api.zapps.me/bot<YOUR TOKEN>/setWebhook",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "https://ungored-mariela-unenlarged.ngrok-free.dev/webhook-test/390d47e6-a42b-4303-971f-8595be63e0e0"
            },
            {
              "name": "secret_token",
              "value": "mykey-abcyxz"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1360,
        288
      ],
      "id": "3665c18d-259d-419c-ac12-3353e65b08ec",
      "name": "Set Test WEBHOOK"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://bot-api.zapps.me/bot<YOUR TOKEN>/setWebhook",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "https://ungored-mariela-unenlarged.ngrok-free.dev/webhook/390d47e6-a42b-4303-971f-8595be63e0e0"
            },
            {
              "name": "secret_token",
              "value": "mykey-abcyxz"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1120,
        288
      ],
      "id": "7ba01582-a660-4cbc-9dbe-a912070ca8d6",
      "name": "Set Production WEBHOOK"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "sales",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "8a79fa87-6b04-4c40-b3e5-37854a27f4d9"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "01e5333c-3c84-4958-80cc-0bf0905f1db7",
                    "leftValue": "billing",
                    "rightValue": "={{ $json.intent }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7d5972d0-dc1e-46c9-9e7c-8f58a2a6610a",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "=other",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -256,
        592
      ],
      "id": "e35117f4-7677-4bd7-b938-f9017bf42caf",
      "name": "Switch"
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Bạn là AI Backend Processor của hệ thống CRM EduTech.\nNHIỆM VỤ: Phân tích hội thoại, xác định intent và trích xuất dữ liệu JSON.\n\n1. DỮ LIỆU ĐẦU VÀO:\n- Chat History (Lịch sử): {{ $json.chat_history }} (hoặc biến tương ứng chứa lịch sử)\n- Current Message (Tin mới): {{ $json.message }}\n\n2. PHÂN LOẠI INTENT (Ưu tiên theo thứ tự từ trên xuống):\n- billing: Khi khách có tín hiệu MUA HÀNG rõ ràng (ví dụ: \"chốt\", \"đăng ký\", \"lấy khóa này\", \"gửi số tài khoản\", \"mua luôn\"). Bất kể khách đã đưa SĐT hay chưa, cứ muốn mua là chọn \"billing\".\n- sales: Khách đang hỏi thông tin, tư vấn, so sánh giá, xin lộ trình (Chưa chốt, chỉ đang quan tâm).\n- other: Chào hỏi, spam, câu vô nghĩa không liên quan.\n\n3. TRÍCH XUẤT ENTITY (Quan trọng):\n- customer_name: Tên riêng (Viết hoa chữ cái đầu). Nếu không có -> null.\n- phone_number: SĐT (0xxxxxxxxx hoặc 84xxxxxxxxx). Nếu không có -> null.\n- COURSE: Tên khóa học khách quan tâm.\n  + QUY TẮC BẮT BUỘC: Nếu tin nhắn hiện tại không nhắc tên khóa học (ví dụ chỉ nói \"chốt khóa này\"), PHẢI SCAN NGƯỢC LẠI Lịch Sử Chat để tìm tên khóa học gần nhất mà khách đã hỏi.\n  + Nếu tìm thấy trong lịch sử -> Điền vào. Nếu hoàn toàn không có -> null.\n- summary: Tóm tắt nội dung tin nhắn hiện tại.\n- sentiment: \"positive\" (muốn mua/hài lòng), \"neutral\", \"negative\".\n- reply_suggestion:\n  + Nếu intent = \"billing\" VÀ thiếu (phone_number HOẶC customer_name): Gợi ý câu xin thông tin khéo léo. Ví dụ: \"Dạ anh/chị cho em xin tên và SĐT để em lên đơn ạ?\".\n  + Nếu intent = \"other\": Câu trả lời xã giao.\n  + Các trường hợp khác -> null.\n\nMẪU OUTPUT (JSON RAW - KHÔNG MARKDOWN):\n{\n  \"intent\": \"billing\",\n  \"customer_name\": \"Minh Tuấn\",\n  \"phone_number\": null,\n  \"COURSE\": \"IELTS Intensive\",\n  \"summary\": \"Khách chốt đăng ký khóa học nhưng chưa đưa sđt.\",\n  \"sentiment\": \"positive\",\n  \"reply_suggestion\": \"Dạ cảm ơn anh Tuấn đã tin tưởng chốt đơn khóa IELTS Intensive ạ. Anh cho em xin thêm số điện thoại để bộ phận giáo vụ liên hệ xếp lớp cho mình nhé!\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -1296,
        624
      ],
      "id": "706b24fe-de51-43f6-8c7c-4c938de3bba6",
      "name": "Orchestrator",
      "retryOnFail": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://bot-api.zapps.me/bot<YOUR TOKEN>/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $('Webhook').item.json.body.message.chat.id }}"
            },
            {
              "name": "text",
              "value": "Hệ thống đang gặp vấn đề xíu xiu, vui lòng thử lại sau. Mong bạn thông cảm"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -192,
        1312
      ],
      "id": "a153aaa5-6fbf-44ee-8721-71729bf29d47",
      "name": "Error Response",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://bot-api.zapps.me/bot<YOUR TOKEN>/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $('Webhook').item.json.body.message.chat.id }}"
            },
            {
              "name": "text",
              "value": "={{ $json.output.reply_suggestion }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -192,
        976
      ],
      "id": "eaccb917-bac7-4391-84bd-a0eb021d0e60",
      "name": "Other Response",
      "disabled": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "gpt-3.5-turbo"
        },
        "responsesApiEnabled": false,
        "options": {
          "responseFormat": "json_object"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -1376,
        864
      ],
      "id": "d2de538c-8eea-4d6a-ad0e-c9e3c7005821",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "UH24awQn9VcEMiuO",
          "name": "OpenAi account 5"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://bot-api.zapps.me/bot<YOUR TOKEN>/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $('Webhook').item.json.body.message.chat.id }}"
            },
            {
              "name": "text",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1456,
        1184
      ],
      "id": "1b023a34-9b7a-47ba-954d-9da6f9b2af68",
      "name": "HTTP Zalo Response2",
      "disabled": true
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('When chat message received').item.json.sessionId }}",
        "tableName": "n8n_chat_histories_crm"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        1024,
        1424
      ],
      "id": "90980181-1165-4bbf-a0b3-3cfd493c0c3f",
      "name": "Postgres Chat Memory3",
      "credentials": {
        "postgres": {
          "id": "yxECEpDsmIo6PaOa",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "gpt-3.5-turbo"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        864,
        1424
      ],
      "id": "4d92f7d3-2f44-40cd-9f23-5c5e0d3c6d99",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "UH24awQn9VcEMiuO",
          "name": "OpenAi account 5"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=[SYSTEM DATA REPORT]\nTrạng thái dữ liệu khách hàng hiện tại trong Sheet:\n- Tên: {{ $json.Name ? $json.Name : \"Chưa có\" }}\n- SĐT: {{ $json.Phone ? $json.Phone : \"Chưa có\" }}\n- Khóa học: {{ $json.Course ? $json.Course : \"Chưa có\" }}\n- Ghi chú: {{ $json.Note }}\n\n[USER MESSAGE]\nTin nhắn của khách: \"{{ $('When chat message received').item.json.chatInput }}\"\nDựa vào đây hãy hỏi thêm thông tin khách hàng. Nếu đủ các trường thông tin tui để trên thì cảm ơn khách hàng, thông báo khách hàng là nhân viên sẽ liên hệ với khách hàng ngay",
        "hasOutputParser": true,
        "options": {
          "systemMessage": ""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        912,
        1184
      ],
      "id": "9bf8e46f-d0fa-445b-857c-5ff3d3fcdaa4",
      "name": "Billing Agent"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "c47c1f6c-d827-473b-aef2-89a754a83785",
              "leftValue": "={{ $json.customer_name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "4eda4b2f-8e04-458c-9245-b95e6ca6ada1",
              "leftValue": "={{ $json.phone_number }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        192,
        1200
      ],
      "id": "1b138f18-73d5-4780-8f5a-129894f73cf6",
      "name": "If"
    },
    {
      "parameters": {
        "tableName": "n8n_chat_histories_crm"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -1184,
        880
      ],
      "id": "ccc0c495-1472-47c0-9cef-16c933390dbb",
      "name": "n8n_chat_histories_crm",
      "credentials": {
        "postgres": {
          "id": "yxECEpDsmIo6PaOa",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Lấy output từ Agent (giả sử nó nằm trong biến text)\nlet text = $input.first().json.output;\n\nif (typeof text === 'string') {\n  // 1. Xóa markdown ```json và ```\n  text = text.replace(/```json/g, \"\").replace(/```/g, \"\");\n\n  // 2. Trim khoảng trắng thừa\n  text = text.trim();\n\n  try {\n    const parsed = JSON.parse(text);\n\n    // Nếu có key output và là object → trả ruột bên trong\n    if (parsed.output && typeof parsed.output === 'object') {\n      return parsed.output;\n    }\n\n    // Trả về object sạch\n    return parsed;\n\n  } catch (e) {\n    return {\n      error: \"JSON Parse Failed\",\n      raw: text\n    };\n  }\n}\n\n// Nếu không phải string\nreturn {\n  result: text\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -752,
        608
      ],
      "id": "3c73ff1a-b84e-462b-8554-e3423426d139",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "81e7c4f5-72b7-4e16-865f-9781d510e9eb",
              "name": "chatInput",
              "value": "={{ $('When chat message received').item.json.chatInput }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        192,
        576
      ],
      "id": "38b3172c-51fd-439d-bd47-2e1a36b35340",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -1600,
        624
      ],
      "id": "af2ad7de-8853-4bb4-bd36-d50df198ff6e",
      "name": "When chat message received",
      "webhookId": "ab30e54c-e38b-49e3-97f4-33a3ad086eae"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        848,
        960
      ],
      "id": "bfb9451d-0501-44c1-b5b3-c3c24ef62567",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "UH24awQn9VcEMiuO",
          "name": "OpenAi account 5"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Work with your data in Vector Store",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        832,
        768
      ],
      "id": "d4928500-00d7-42f9-82e8-5c23a28d995b",
      "name": "tai-lieu-noi-bo",
      "credentials": {
        "supabaseApi": {
          "id": "xl83huOUjTvIc0LJ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableName": "n8n_chat_histories_crm",
        "contextWindowLength": 3
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        608,
        800
      ],
      "id": "1c9a59ee-03a8-4c98-9d25-8d962ae16f0c",
      "name": "Postgres Chat Memory1",
      "credentials": {
        "postgres": {
          "id": "yxECEpDsmIo6PaOa",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        416,
        816
      ],
      "id": "81d8424b-2a63-4555-9226-992a36a2b14e",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "UH24awQn9VcEMiuO",
          "name": "OpenAi account 5"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1f5tlC0VnewoqK0-9ul-K1dZCkmlWXnNZz0exYyB3T54",
          "mode": "list",
          "cachedResultName": "CRM-n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1f5tlC0VnewoqK0-9ul-K1dZCkmlWXnNZz0exYyB3T54/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Billing",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1f5tlC0VnewoqK0-9ul-K1dZCkmlWXnNZz0exYyB3T54/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $('When chat message received').item.json.sessionId }}",
            "Name": "={{ $('Switch').item.json.customer_name }}",
            "Phone": "={{ $('Switch').item.json.phone_number }}",
            "Course": "={{ $('Code in JavaScript').item.json.COURSE }}",
            "Note": "={{ $('Switch').item.json.sentiment }}"
          },
          "matchingColumns": [
            "Phone"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Course",
              "displayName": "Course",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Note",
              "displayName": "Note",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        464,
        1296
      ],
      "id": "521df8ba-f055-441e-b271-fff7cfbce64f",
      "name": "Append or update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "qkoQ5Ca3mU5nw5yp",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Set File ID').item.json.file_id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "id": "992cb5b4-c2aa-4a35-9d6e-a39a8f7ea814",
      "name": "Download File",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -432,
        2000
      ],
      "executeOnce": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "l1crSTwD68djtLpa",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "https://drive.google.com/drive/u/2/folders/1uL5fwAMwHrXR1hM-HkH8mFwgoiNfTi5U",
          "mode": "url"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "6961d811-4233-410f-ade7-702ca554611e",
      "name": "File Created",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -1616,
        1968
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "l1crSTwD68djtLpa",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "https://drive.google.com/drive/u/2/folders/1uL5fwAMwHrXR1hM-HkH8mFwgoiNfTi5U",
          "mode": "url"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "id": "8764d876-4d57-4c52-832b-92ae7fa3ea05",
      "name": "File Updated",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -1616,
        2128
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "l1crSTwD68djtLpa",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "documents",
        "filterType": "string",
        "filterString": "=metadata->>file_id=like.*{{ $json.file_id }}*"
      },
      "id": "8772d724-ae26-4f95-9353-7d315d81adc9",
      "name": "Delete Old Doc Rows",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -912,
        1840
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "xl83huOUjTvIc0LJ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "10646eae-ae46-4327-a4dc-9987c2d76173",
              "name": "file_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "f4536df5-d0b1-4392-bf17-b8137fb31a44",
              "name": "file_type",
              "value": "={{ $json.mimeType }}",
              "type": "string"
            },
            {
              "id": "77d782de-169d-4a46-8a8e-a3831c04d90f",
              "name": "file_title",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "9bde4d7f-e4f3-4ebd-9338-dce1350f9eab",
              "name": "file_url",
              "value": "={{ $json.webViewLink }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "814adf19-e398-4053-b3ed-b3fa78c6124c",
      "name": "Set File ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1104,
        2000
      ]
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "43bb2109-dbf0-4a34-9189-3f8417907516",
      "name": "Extract PDF Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        416,
        1776
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "9f768212-a003-4489-ba62-4d0bf1a41357",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        880,
        1936
      ]
    },
    {
      "parameters": {
        "chunkOverlap": 100
      },
      "id": "95de1931-c752-49d8-8df8-c92eae92a8c7",
      "name": "Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1584,
        2512
      ]
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "concatenate",
              "field": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "4acffed7-600e-4cc1-b337-74826100b3cc",
      "name": "Summarize",
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1,
      "position": [
        1088,
        2016
      ]
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "id": "6b070edf-3272-418f-8e0b-7e85aaeda0a6",
      "name": "Extract from Excel",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        240,
        1936
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f422e2e0-381c-46ea-8f38-3f58c501d8b9",
              "name": "schema",
              "value": "={{ $('Extract from Excel').isExecuted ? $('Extract from Excel').first().json.keys().toJsonString() : $('Extract from CSV').first().json.keys().toJsonString() }}",
              "type": "string"
            },
            {
              "id": "bb07c71e-5b60-4795-864c-cc3845b6bc46",
              "name": "data",
              "value": "={{ $json.concatenated_data }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1520,
        1872
      ],
      "id": "49da03f0-a4f4-4d05-85dc-6aacea3155dd",
      "name": "Set Schema"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        240,
        2112
      ],
      "id": "f26e1904-1b48-4bae-82b5-1d8d508a87ca",
      "name": "Extract from CSV"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE TABLE document_metadata (\n    id TEXT PRIMARY KEY,\n    title TEXT,\n    url TEXT,\n    created_at TIMESTAMP DEFAULT NOW(),\n    schema TEXT\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -1632,
        1440
      ],
      "id": "d4a8969d-6da7-4e61-8d5c-e631440358dc",
      "name": "Create Document Metadata Table",
      "credentials": {
        "postgres": {
          "id": "yxECEpDsmIo6PaOa",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE TABLE document_rows (\n    id SERIAL PRIMARY KEY,\n    dataset_id TEXT REFERENCES document_metadata(id),\n    row_data JSONB  -- Store the actual row data\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -1408,
        1440
      ],
      "id": "19bdd3e2-b885-468b-bbf7-0dc013d029a6",
      "name": "Create Document Rows Table (for Tabular Data)",
      "credentials": {
        "postgres": {
          "id": "yxECEpDsmIo6PaOa",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1328,
        1984
      ],
      "id": "17fbdebc-8bb1-47f6-8a5b-df5745b72ac6",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "document_rows",
        "filters": {
          "conditions": [
            {
              "keyName": "dataset_id",
              "condition": "eq",
              "keyValue": "={{ $('Set File ID').item.json.file_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -752,
        2000
      ],
      "id": "b47032eb-e6e6-47a4-b280-11fe660f6e8e",
      "name": "Delete Old Data Rows",
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "supabaseApi": {
          "id": "xl83huOUjTvIc0LJ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "document_metadata",
          "mode": "list",
          "cachedResultName": "document_metadata"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Set File ID').item.json.file_id }}",
            "title": "={{ $('Set File ID').item.json.file_title }}",
            "url": "={{ $('Set File ID').item.json.file_url }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "schema",
              "displayName": "schema",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -592,
        1856
      ],
      "id": "d93e40d2-2eae-4fb4-aca5-e8bcd125e873",
      "name": "Insert Document Metadata",
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "yxECEpDsmIo6PaOa",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "document_rows",
          "mode": "list",
          "cachedResultName": "document_rows"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "dataset_id": "={{ $('Set File ID').item.json.file_id }}",
            "row_data": "={{ $json.toJsonString().replaceAll(/'/g, \"''\") }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "dataset_id",
              "displayName": "dataset_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_data",
              "displayName": "row_data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        880,
        2112
      ],
      "id": "2c184487-1ba1-4c82-a950-aeeb77b6a8d3",
      "name": "Insert Table Rows",
      "credentials": {
        "postgres": {
          "id": "yxECEpDsmIo6PaOa",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "document_metadata",
          "mode": "list",
          "cachedResultName": "document_metadata"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Set File ID').item.json.file_id }}",
            "schema": "={{ $json.schema }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "schema",
              "displayName": "schema",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1744,
        1872
      ],
      "id": "c3ffe79d-1cda-4eed-ac88-7329cfd55e9f",
      "name": "Update Schema for Document Metadata",
      "credentials": {
        "postgres": {
          "id": "yxECEpDsmIo6PaOa",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "id": "61445c41-d6c4-45d4-94cc-6e672eed1924",
      "name": "Insert into Supabase Vectorstore",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        1552,
        2048
      ],
      "credentials": {
        "supabaseApi": {
          "id": "xl83huOUjTvIc0LJ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.data || $json.text || $json.concatenated_data }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "=file_id",
                "value": "={{ $('Set File ID').first().json.file_id }}"
              },
              {
                "name": "file_title",
                "value": "={{ $('Set File ID').first().json.file_title }}"
              }
            ]
          }
        }
      },
      "id": "2f11c71e-b859-45d3-a81f-4e8cac8076c8",
      "name": "Default Data Loader1",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        1648,
        2320
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Set File ID').item.json.file_type }}",
                    "rightValue": "application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "986894fe-7139-4324-90ec-1b05c20b699d"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "2ae7faa7-a936-4621-a680-60c512163034",
                    "leftValue": "={{ $('Set File ID').item.json.file_type }}",
                    "rightValue": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "fc193b06-363b-4699-a97d-e5a850138b0e",
                    "leftValue": "={{ $('Set File ID').item.json.file_type }}",
                    "rightValue": "=application/vnd.google-apps.spreadsheet",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "b69f5605-0179-4b02-9a32-e34bb085f82d",
                    "leftValue": "={{ $('Set File ID').item.json.file_type }}",
                    "rightValue": "application/vnd.google-apps.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "556ead40-509a-458a-85a3-6b4a0b3279e9",
                    "leftValue": "={{ $('Set File ID').item.json.file_type }}",
                    "rightValue": "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": 3
        }
      },
      "id": "f41a772c-7b00-435b-9572-e9f551b4f1ae",
      "name": "Switch1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -240,
        1968
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1392,
        2320
      ],
      "id": "2adf860f-a156-411b-8dcb-84ec6f095fac",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "UH24awQn9VcEMiuO",
          "name": "OpenAi account 5"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "id": "da5f54b6-34f8-4074-9146-b9138fb6ec12",
      "name": "Extract Document Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        832,
        2320
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "chunkOverlap": 100
      },
      "id": "155997fe-73be-44cb-927d-a88aae28c18a",
      "name": "Character Text Splitter1",
      "type": "@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        960,
        2976
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "id": "317c43b0-cb6f-41f2-8995-8ac5a2ef8f24",
      "name": "Insert into Supabase Vectorstore1",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        384,
        2576
      ],
      "credentials": {
        "supabaseApi": {
          "id": "xl83huOUjTvIc0LJ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "binaryMode": "specificField",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "=file_id",
                "value": "={{ $('Set File ID').first().json.file_id }}"
              },
              {
                "name": "file_title",
                "value": "={{ $('Set File ID').first().json.file_title }}"
              }
            ]
          }
        }
      },
      "id": "244efe2d-faf9-45e1-bf51-f9763bf694c9",
      "name": "Default Data Loader2",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        864,
        2800
      ]
    },
    {
      "parameters": {
        "content": "## Upload docs from local",
        "height": 608,
        "width": 416,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        288,
        2512
      ],
      "typeVersion": 1,
      "id": "b2415dbc-1ae7-4ec4-a48d-e5936e37cfbc",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# Upload all file format\nWatch Google Drive and ingest all file types (PDF, Excel, CSV, DOCX, TXT).\nExtract content → chunk → embed → store in Supabase Vector Store.\nAuto update vectors when files change.\n",
        "height": 1472,
        "width": 4240
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1744,
        1760
      ],
      "typeVersion": 1,
      "id": "9d662494-d96c-48a8-92a3-0f7b23433714",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Orchestrator\nAnalyze customer conversations.\nDetect intent and extract key entities (name, phone, course, sentiment).\nReturn clean JSON for routing, no direct reply to users.\n",
        "height": 512,
        "width": 512,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1440,
        496
      ],
      "typeVersion": 1,
      "id": "3835b827-04d4-4aac-9435-239924d0a897",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "Create a database for Tabular Data",
        "height": 256,
        "width": 512,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1680,
        1392
      ],
      "typeVersion": 1,
      "id": "b5e6796f-0350-4a12-9c34-e2eeef455108",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://bot-api.zapps.me/bot<YOUR TOKEN>/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $('Webhook').item.json.body.message.chat.id }}"
            },
            {
              "name": "text",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1216,
        576
      ],
      "id": "d5e1ae14-e858-4bcf-b6a6-76e40779dbad",
      "name": "HTTP Zalo Response",
      "disabled": true
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "Truy cập vào trong tai-lieu-noi-bo supabase trước để tìm thông tin, kết câu trả lời luôn có câu nếu khách hàng cần thông tin chi tiết thì để lại thông tin cá nhân số điện thoại,  trung tâm sẽ liên hệ trực tiếp để tư vấn\nDù có cần truy vấn vào vector DB không cũng phải truy cập để xem lại có cần thông tin bổ sung vào memory chứ đừng dựa trên memory hoàn toàn, và trả lời cũng upsale 1 2 khóa học liên quan"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        528,
        576
      ],
      "id": "e8cb672d-0ce4-49a2-91ad-87d6e3a414ff",
      "name": "Sale Agent"
    },
    {
      "parameters": {
        "content": "## Sale Agent\nHandle customer inquiries and pre-sales conversations.\nProvide course info, pricing, and learning paths.\nEncourage interest and guide users toward registration.\n",
        "height": 672,
        "width": 768,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        352,
        400
      ],
      "typeVersion": 1,
      "id": "61e7a893-f52f-4732-b933-7eae1540f584",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Billing Agent\nHandle purchase and registration flow.\nCollect missing customer info (name, phone, course).\nConfirm order and notify staff for follow-up.\n",
        "height": 496,
        "width": 816,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        352,
        1088
      ],
      "typeVersion": 1,
      "id": "47d1ae7e-148f-4fad-aff5-9df51890280d",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/drive/v2/files",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "'1uL5fwAMwHrXR1hM-HkH8mFwgoiNfTi5U' in parents and trashed = false"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1312,
        2976
      ],
      "id": "ea20362c-0845-46e1-bfbb-e8614f2c9720",
      "name": "HTTP Request",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "l1crSTwD68djtLpa",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "input_data = _input.first().json\nitems_list = input_data.get('items', []) \narr = []\n\n# Vòng lặp for trong Python\nfor item in items_list:\n    if 'id' in item:\n        arr.append(item['id'])\n\nreturn [{'json': {'ids': arr}}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1072,
        2976
      ],
      "id": "20951a28-a90a-4967-a28d-4f5ff339ac76",
      "name": "Code in Python (Beta)"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "# 1. Lấy danh sách ID từ node trước (Node chứa mảng ID từ Drive)\n# Truy cập vào node tên 'Code in Python (Beta)' để lấy dữ liệu\ndrive_node_json = _('Code in Python (Beta)').first().json\n\n# Lấy mảng ids ra, nếu không có thì trả về rỗng\ndrive_ids_list = drive_node_json.get('ids', [])\n\n# Chuyển sang set để tìm kiếm cực nhanh (O(1))\ndrive_ids_set = set(drive_ids_list)\n\n# 2. Lấy danh sách items từ Database (Node Select rows...) đang đi vào node này\n# _input.all() lấy toàn bộ các row từ DB mà bạn đã query được\ndb_items = _input.all()\n\nids_to_delete = []\n\nfor item in db_items:\n    row_data = item.json\n    db_id = row_data.get('id')\n    \n    print(db_id)\n    if db_id and db_id not in drive_ids_set:\n        ids_to_delete.append(db_id)\n\n# Trả về danh sách các object, mỗi object chứa key 'id'\nreturn [{'output': {'id': x}} for x in ids_to_delete]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -512,
        2976
      ],
      "id": "2b5cf823-6d0e-4dac-9a68-f94746e56da7",
      "name": "Code in Python (Beta)1"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "name"
        },
        "table": {
          "__rl": true,
          "value": "document_metadata",
          "mode": "list",
          "cachedResultName": "document_metadata"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -864,
        2976
      ],
      "id": "c065443e-7748-409d-9eaf-853a56038b38",
      "name": "Select rows from a table",
      "credentials": {
        "postgres": {
          "id": "yxECEpDsmIo6PaOa",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "document_metadata",
          "mode": "list",
          "cachedResultName": "document_metadata"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ $json.output.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -32,
        2992
      ],
      "id": "a8b6c042-1252-44b6-8915-a2d8350691ea",
      "name": "Delete table or rows",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "yxECEpDsmIo6PaOa",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -288,
        2976
      ],
      "id": "bc10ba4b-aeb5-40c0-8659-1b9fe5050263",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE documents\nSET id_doc = $1\nWHERE metadata->>'file_id' =$1;",
        "options": {
          "queryReplacement": "={{ $('Switch1').item.json.id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2320,
        2672
      ],
      "id": "142234a7-67aa-42ab-84e3-70f3ce217bf4",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "yxECEpDsmIo6PaOa",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8786b6d7-2a41-4fb1-a37b-3ace4464ce6c",
              "name": "text",
              "value": "={{ $json.text.replace(/\\u0000/g, ' ') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        688,
        1776
      ],
      "id": "ed5d8388-8e29-42b8-88b4-a3e789831eb9",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1600,
        2976
      ],
      "id": "d4a5d376-e662-421e-bc7f-2c3e03dae125",
      "name": "Auto Clear VectorDB"
    },
    {
      "parameters": {
        "content": "# CRM Workflow",
        "height": 1584,
        "width": 4240,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1744,
        112
      ],
      "typeVersion": 1,
      "id": "4745f096-0737-407d-a755-30b468f60fc0",
      "name": "Sticky Note6"
    }
  ],
  "pinData": {},
  "connections": {
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Other Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Orchestrator": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Orchestrator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory3": {
      "ai_memory": [
        [
          {
            "node": "Billing Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Billing Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Billing Agent": {
      "main": [
        [
          {
            "node": "HTTP Zalo Response2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Billing Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append or update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n_chat_histories_crm": {
      "ai_memory": [
        [
          {
            "node": "Orchestrator",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Sale Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Orchestrator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "tai-lieu-noi-bo",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "tai-lieu-noi-bo": {
      "ai_tool": [
        [
          {
            "node": "Sale Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory1": {
      "ai_memory": [
        [
          {
            "node": "Sale Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Sale Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet1": {
      "main": [
        [
          {
            "node": "Billing Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Created": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Updated": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Old Doc Rows": {
      "main": [
        [
          {
            "node": "Delete Old Data Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set File ID": {
      "main": [
        [
          {
            "node": "Delete Old Doc Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PDF Text": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Summarize": {
      "main": [
        [
          {
            "node": "Set Schema",
            "type": "main",
            "index": 0
          },
          {
            "node": "Insert into Supabase Vectorstore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from Excel": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          },
          {
            "node": "Insert Table Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Schema": {
      "main": [
        [
          {
            "node": "Update Schema for Document Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from CSV": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          },
          {
            "node": "Insert Table Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Set File ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Old Data Rows": {
      "main": [
        [
          {
            "node": "Insert Document Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Document Metadata": {
      "main": [
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert into Supabase Vectorstore": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Insert into Supabase Vectorstore",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Extract PDF Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from Excel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from CSV",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Document Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert into Supabase Vectorstore1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Insert into Supabase Vectorstore",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Insert into Supabase Vectorstore1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Extract Document Text": {
      "main": [
        [
          {
            "node": "Insert into Supabase Vectorstore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Character Text Splitter1": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader2",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader2": {
      "ai_document": [
        [
          {
            "node": "Insert into Supabase Vectorstore1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Insert into Supabase Vectorstore1": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sale Agent": {
      "main": [
        [
          {
            "node": "HTTP Zalo Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in Python (Beta)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in Python (Beta)": {
      "main": [
        [
          {
            "node": "Select rows from a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table": {
      "main": [
        [
          {
            "node": "Code in Python (Beta)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in Python (Beta)1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Delete table or rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete table or rows": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Insert into Supabase Vectorstore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auto Clear VectorDB": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Table Rows": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "bff5a3a4-fa61-42e4-9e27-c0658b5e0617",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "99866af3a823a847c49307a089e6a697b8ffe297c6e8511a4eebcae23adf36d4"
  },
  "id": "HGVOyZFR8sMrBv5B",
  "tags": []
}